* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
tests/Fixtures/AFD/*.txt text eol=crlf
tests/Fixtures/AEJ/*.txt text eol=crlf
*.afd text eol=crlf
*.aej text eol=crlf

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
